# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_PREFETCH=1
RABBITMQ_MAX_RETRIES=3
RABBITMQ_MANUAL_ACK=true

# Producer
PRODUCER_PORT=3001

# Consumer
# Consumer не экспонирует HTTP API

# Telegram
TELEGRAM_PORT=3003
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
TELEGRAM_API_BASE_URL=https://api.telegram.org

# RabbitMQ Management UI credentials (docker-compose)
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
